.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}


/* Header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
  background-color: #f2f2f2;
}

.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
}

.header__title {
  max-width: 730px;
  width: 100%;
  margin: auto 0 auto 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 30;
}

.header__subtitle {
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 30;
  max-width: 388px;
  width: 100%;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: right bottom;
  width: 765px;
  height: 608px;
  z-index: 20;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 10;
}


/* Description */

.description {
  display: flex;
  padding: 100px 0 0 0;
  justify-content: center;
}

.two-columns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 80%;
}

.two-columns__brief {
  line-height: 1.2;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  max-width: 175px;
  width: 100%;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  justify-content: space-between;
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}


/* Digits */

.digits {
  padding: 100px 0;
  justify-content: center;
  margin: 0;
}

.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin: 20px auto 0 auto;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.table__cell {
  justify-content: space-between;
  width: 250px;
  z-index: 10;
  margin-top: 60px;
}

.table__text_space_bottom {
  margin-bottom: 20px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 100%;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}


/* Feynman */

.feynman {
  background: no-repeat left bottom url('../images/feynman.png') #f2f2f2;
  background-size: 867px 637px;
  position: relative;
  min-height: 790px;
  padding-top: 100px;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  max-width: 648px;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0 auto;
  width: fit-content;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
}


/* Kaufman */

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding: 90px 0;
}

.section-title_theme_dark {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  margin: 0 auto;
  padding: 0;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 0;
  padding: 0;
  color: #fff;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background: no-repeat  right top url('../images/kaufman-triangle.svg');
  background-size: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: right bottom;
}


/* Footer */

.footer {
  box-sizing: border-box;
  min-height: 350px;
  background-color: #1f1f1f;
  color: #fff;
  padding: 60px 0 40px 0;
  display: flex;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  height: 35px;
  flex-direction: column-reverse;
}

.footer__author {
  margin: 18px 0;
  max-width: fit-content;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.footer__column-links {
  margin: 0 0 16px 0;
  list-style: none;
  padding: 0;
  color: #fff;
}

.footer__column-link {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_social {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}